
@import "constants";


.card{
  box-shadow: @shadow_panel_default;
  background: @col_white;
  display: inline-block;
  border-radius: 2px;

  &:hover{
    box-shadow: @shadow_panel_hover;
  }

  &.home-panels{
    width: 24em;
    height: 15em;
    margin: 0.5em;
    padding: 0.5em 1em;
  }

}



/**
 * Autocompleter styles
 */

.autocompleter {
  width: 100%;
  background: @col_white;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 100;
}

.autocompleter,
.autocompleter-hint {
  position: absolute;
}

.autocompleter-list {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.autocompleter-item-selected {
  background: @col_white;
}

.autocompleter-item {
  padding: 6px 12px;
  color: #444444;
  font-size: 20px;
  cursor: pointer;
}

.autocompleter-item:hover {
  background: @col_paleprimary;
}

.autocompleter-item strong {
  background: @col_paleprimary;
  text-shadow: 0 1px 0 @col_white;
}

.autocompleter-item span {
  color: @col_paleprimary;
}

.autocompleter-hint {
  color: @col_palegrey;
  text-align: left;
  top: -56px;
  font-weight: 400;
  left: 0;
  width: 100%;
  padding: 12px 12px 12px 13px;
  font-size: 24px;
  display: none;
}

.autocompleter-hint span {
  color: transparent;
}

.autocompleter-hint-show {
  display: block;
}

.autocompleter-closed {
  display: none;
}


