
@import "constants";


.card{
  box-shadow: @shadow_panel_default;
  background: @col_white;
  display: inline-block;
  border-radius: 2px;

  &:hover{
    box-shadow: @shadow_panel_hover;
  }

  &.home-panels{
    width: 24em;
    height: 15em;
    margin: 0.5em;
    padding: 0.5em 1em;
  }

}