|   <!--
|                             _   _       _a_a
|                 _   _     _{.`=`.}_    {/ ''\_
|           _    {.`'`.}   {.'  _  '.}  {|  ._oo)
|          { \  {/ .-. \} {/  .' '.  \} {/  |
|   ~~~~^~`~^~`~^~`~^~`~^~^~`^~^~`^~^~^~^~^~^~`^~~`
|   (C) Alicia Sykes <aliciasykes.com> 2018, Licensed under MIT
|   For documentation, full source code and license information:
|   https://github.com/Lissy93/twitter-sentiment-visualisation
|     -->