#share
.github-button
    a(class='github-button', href='https://github.com/lissy93/twitter-sentiment-visualisation', data-show-count='true', data-icon='octicon-star' aria-label='Star lissy93/twitter-sentiment-visualisation on GitHub') Star this project on GitHub