extends layout

block content
  main.content.error-page
    h3 We have a slight problem...
    h2= error.status
    h1= message
    a.waves-effect.waves-light.btn.center-block(href='/') Head back to the homepage

  include ./footer

