script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/bower_components/materialize/dist/js/materialize.min.js')
script(type='text/javascript', src='/javascripts/loading.js')
script(type='text/javascript').
    $(".button-collapse").sideNav();

