footer.page-footer.zero-padding
  .container
    .row
      .col.l6.s12
        a(href='/'): h5.white-text Sentiment Sweep
        p.grey-text.text-lighten-4 The ultimate social media sentiment analysis tool
      .col.l3.s6
        ul
          li: b: a.grey-text.text-lighten-3(href='/') Main Menu
          each page in pages.splice(0,7)
            li: a.grey-text.text-lighten-3(href='/#{page.page}')= page.title

      .col.l3.s6
        ul
          each page in pages.splice(0,6)
            li: a.grey-text.text-lighten-3(href='/#{page.page}')= page.title
          li: a.grey-text.text-lighten-3(href='/break-down') Topic Breakdown
          li: a.grey-text.text-lighten-3(href='/hexagons') Sentiment Hexagons
          li: a.grey-text.text-lighten-3(href='/word-scatter-plot') Word Scatter Plot
          li: a.grey-text.text-lighten-3(href='/sa-comparison') SA Method Comparison


  .footer-copyright
    .container
      .row
          .col.s12.m6
            a.flow-text.white-text(href='http://aliciasykes.com') &copy; Alicia Sykes 2018
            a.flow-text.white-text.right(href='https://github.com/Lissy93/twitter-sentiment-visualisation') Source Code & Documentation
          .col.s12.m6
            a(class='github-button', href='https://github.com/lissy93/twitter-sentiment-visualisation', data-show-count='true', data-icon='octicon-star' aria-label='Star lissy93/twitter-sentiment-visualisation on GitHub') Star this project on GitHub
