link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
link(rel='stylesheet', href='/stylesheets/all.min.css')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
