extends layout

block content
  div(style='width: 80%').center-block
    .row
      div.col.s8.offset-s2.card-panel
        div.input-field
          input#txtKeyword.validate(type='text')
          label(for='txtKeyword') Enter a keyword, topic or search term to fetch new Tweets



    .row
      each val, index in ['Word Cloud', 'Regional Map', 'Heat Map', '3D Globe', 'Time Line', 'Real Time Tweets', 'Entity Extraction', 'Topic Break Down']
        .col.s4
          .card(style='width: 100%; height: 200px;')
            h3= val
            img(src='/images/thumbnails/thumb_#{index+1}.png')