block pageConfig
- var pages = [{title: 'Heat Map', page:'map', index: '3'}, {title: 'Regional Map', page:'region-map', index: '2'}, {title: 'Raw Tweets', page:'text-tweets', index: '6'}, {title: 'Word Cloud', page:'word-cloud', index: '1'}, {title: 'Comparison', page:'comparer', index: '9'}, {title: 'Trending Now', page:'trending', index: '10'}, {title: 'The World Now', page:'now', index: '14'}, {title: 'Time Line', page:'timeline', index: '5'},{title: '3D Globe', page:'globe', index: '4'}, {title: 'Entity Extraction', page:'entity-extraction', index: '7'}, {title: 'Tone Analyzer', page:'tone-analyzer', index: '11'}, {title: 'Sentiment Search', page:'search', index: '12'} ]

doctype html
include ./as93
html
  head
    title= title
    include ./head
    block head
  body.vertical.layout
    div#loading-graphic
    include ./sidenav
    unless hideNav
      include ./navbar
    else
      .hide-on-med-and-up.mobile-nav-trick: include ./navbar
    block content
    include ./footer_scripts
    block scripts

