block pageConfig
- var pages = [{title: 'Word Cloud', page:'word-cloud', index: '1'}, {title: 'Regional Map', page:'region-map', index: '2'}, {title: 'Heat Map', page:'map', index: '3'}, {title: '3D Globe', page:'globe', index: '4'}, {title: 'Comparison', page:'comparer', index: '9'}, {title: 'Time Line', page:'timeline', index: '5'}, {title: 'Raw Tweets', page:'text-tweets', index: '6'}, {title: 'Entity Extraction', page:'entity-extraction', index: '7'} ]

doctype html
html
  head
    title= title
    include ./head
    block head
  body.vertical.layout
    div#loading-graphic
    include ./sidenav
    unless hideNav
      include ./navbar
    block content
    include ./footer_scripts
    block scripts

