nav
    .nav-wrapper
        a.brand-logo(href='#') Twitter Sentiment Visualisation
        ul#nav-mobile.right.hide-on-med-and-down
            li(class=(pageNum===0 ? 'active' : ''))
                a(href='/') Dashboard
            li(class=(pageNum===1 ? 'active' : ''))
                a(href='/map') Map
            li(class=(pageNum===2 ? 'active' : ''))
                a(href='/timeline') Timeline
