nav
    .nav-wrapper
        a.brand-logo(href='#') Twitter Sentiment Visualisation
        ul#nav-mobile.right.hide-on-med-and-down
            li.active
                a(href='/') Dashboard
            li
                a(href='/map') Map
            li
                a(href='/timeline') Timeline
