extends layout
block content
    main.content.timeline
        h4 Comparison
        script(type='text/javascript', src='https://www.google.com/jsapi')
        script(type='text/javascript').
            var sentimentResults = !{JSON.stringify(results)};

        script(type='text/javascript', src='/javascripts/charts/comparison.js')

        span#sentiment_diff(style='width: 850px; height: 600px')


