extends layout

block head

block content
    .container(style='width: 90%')
        if searchTerm

            .row
                h2.flow-text Tone Identification Bars
                .card-panel.auto-overflow

                    #toneLoader.center-block(style='width: 10%'): include ./component_spinner
                    br

                    .col.s12.m4.xl2.offset-xl3#toneResults1
                    .col.s12.m4.xl2#toneResults2
                    .col.s12.m4.xl2#toneResults3

            .row
                h2.flow-text Segment Chart
                .card-panel.auto-overflow
                    #radarLoader.center-block(style='width: 10%'): include ./component_spinner
                    br

                    #tone-radar.center-block(style='width: 650px')

                    p.flow-text The sunburst charts visually illustrates the proportion
                        | of text which fits into each tone category and sub-category.
                        | The text data used was Tweets relating to '#{searchTerm}' and
                        | fetched within the past 24 hours.
                        | <br>
                        | Hover over a segment to see which category it is, or click it
                        | to view sub-categories. You can return to the full diagram by
                        | clicking the center node.





        .row
            .col.s12.m8.offset-m2.l6.offset-l3.xl4.offset-xl4.card-panel
                h3 Make a new search
                .input-field
                    input#txtKeyword.validate(type='text', value ='#{searchTerm}')
                    label(for='txtKeyword') Enter a keyword, topic, brand, celebrity or search term

block scripts
    script.
        var st = !{JSON.stringify(searchTerm)};
        var showAllCharts = true;
    script(type = 'text/javascript', src = '/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/javascripts/tone-analysis.bundle.js')




