extends layout

block head
    link(rel='stylesheet', href='/bower_components/nvd3/build/nv.d3.min.css')


block content
    main.content.timeline.full-width
       h4 timeline
       div#chart
           svg(style='width: 80%; height: 15em;').center-block


block scripts
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};
    script(type='text/javascript', src='/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/bower_components/nvd3/build/nv.d3.js')
    script(type='text/javascript', src='/javascripts/timeline.bundle.js')
