extends layout

block head
    link(rel='stylesheet', href='/bower_components/nvd3/build/nv.d3.min.css')


block content
    main.timeline
       .row
           .col.l5.offset-l1.m6.s12
               .card-panel(style='min-height: 10em')
                   h3 #{searchTerm} Sentiment Timeline
                   p.flow-text Timeline shows the average positive and negative sentiments of
                       | Tweets over the last 24 hours.
                   br


           .col.l5.m6.s12
               .card-panel(style='min-height: 10em')
                   p.flow-text Enter a keyword or topic to view the sentiment over time
                        .input-field
                            input#txtKeyword.validate(type='text', value='#{searchTerm}')
                            label.active(for='txtKeyword') Enter keyword or topic
                            div.btn#btnSearch.pull-right Search
                        br

        .row
            .col.l10.offset-l1.m12.s12
                #chart.card-panel(style='height: 25em;').center-block
                    svg

block scripts
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};
    script(type='text/javascript', src='/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/javascripts/timeline.bundle.js')
