extends layout
block content
    main.content.zero-padding.zero-margin
        svg#cloud(style='display: block; margin: 0 auto')

block scripts
    script(type='text/javascript', src='/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/bower_components/d3-word-cloud/index.js')
    script(type='text/javascript').
        var wordData = !{JSON.stringify(data)};
    script(type='text/javascript', src='/javascripts/word-cloud.bundle.js')


  