extends layout
block head
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
    script(src='/javascripts/autocomplete-map.js')

block content
        div.map-options.row
            .input-field.col.s6
                input#txtLocation.validate(type='text')
                label.active(for='txtLocation') Location
            .input-field.col.s6
                input#txtKeyword.validate(type='text')
                label.active(for='txtKeyword') Keyword or Topic
        #map-canvas


block scripts
