extends layout

block content


    div.container(style='width: 90%')
        .row
            div.col.s3.card-panel(style='height: 23em')
                div#gaugeChart
            div.col.s6
                div#chart.card-panel(style='height: 23em')
            div.col.s3.card-panel(style='height: 23em')
                p Something else here

block scripts
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};
        var average = !{JSON.stringify(averageSentiment)};
        var searchTerm = !{JSON.stringify(searchTerm)};
    script(type = 'text/javascript', src = '/bower_components/d3/d3.min.js')
    script(type = 'text/javascript', src = '/bower_components/hexbin/index.js')
    script(type = 'text/javascript', src = '/bower_components/d3tip/index.js')
    script(type='text/javascript', src='/bower_components/c3/c3.min.js')
    script(type='text/javascript', src='/javascripts/search-summary.bundle.js')

