extends layout
block pageConfig
    - var hideNav = true

block content
    div.top-left-controls-dark
        a.outline-button.auto-width(href='/', title='Back to Home') &#8592; Home
        h2 Sentiment Globe
        input#txtKeyword(placeholder='Enter a keyword or topic', value='#{summary_text.searchTerm}')
        div.outline-button#btnSearch Search
        div.outline-button(title='Hide this container', id='btnHide') More Data

        div#theContent(style='display:none')
            p The globe shows the sentiment from Tweets around the world,
                | in real-time. Red indicates negative and green positive.
                | The height of the bar represents the scale of the sentiment.
                | You can use your mouse to rotate the globe.
            br
            p!=summary_text.globeSentence

    div#container

block scripts
    script(type='text/javascript', src='/bower_components/Detector/index.js')
    script(type='text/javascript', src='/bower_components/three.min/index.js')
    script(type='text/javascript', src='/bower_components/Tween/index.js')
    script(type='text/javascript', src='/bower_components/globe/index.js')
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.3.js')
    script(type='text/javascript').
        var sentimentResults = !{JSON.stringify(data)};
    script(type='text/javascript', src='/javascripts/globe.bundle.js')

