extends layout

block head

block content
    .container(style='width: 90%')


block scripts
    script(type = 'text/javascript', src = '/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/javascripts/charts/real-time-dash.js')




