extends layout

block head

block content

    .container(style='width: 90%')

        .row




        .row
            h3 Make a new search
            .col.s6.offset-3.card-panel
                .input-field
                    input#txtKeyword.validate(type='text')
                    label(for='txtKeyword') Enter a keyword, topic, brand, celebrity or search term



block scripts



