extends layout
block pageConfig
    - var hideNav = true

block content
    div.top-left-controls
        a.outline-button.bring-down(href='/', title='Back to Home') &#8592; Home
        a.outline-button.bring-down.pull-right(title='Hide this container') Hide &#10006;
        h2 Sentiment Globe
        p The globe shows the sentiment from Tweets around the world,
            | red indicates negative and green positive.
            | The height of the bar represents the scale of the sentiment.
            | You can use your mouse to rotate the globe.
        input#txtKeyword(placeholder='Enter a keyword or topic')
        a.outline-button#btnSearch Search


    div#container

    div.map-footer-options.zero-margin.row
        div.col.s5
            p!= summary_text.mapShowing
        div.col.s4
            p!= summary_text.sentimentSummary
        div.col.s3
            img.pull-right(src='/images/heatmap-key.png')


block scripts
    script(type='text/javascript', src='/bower_components/Detector/index.js')
    script(type='text/javascript', src='/bower_components/three.min/index.js')
    script(type='text/javascript', src='/bower_components/Tween/index.js')
    script(type='text/javascript', src='/bower_components/globe/index.js')

    script(type='text/javascript').
        var sentimentResults = !{JSON.stringify(data)};
    script(type='text/javascript', src='/javascripts/globe.bundle.js')

