extends layout
block head

block content
    div.map-options.row
        .input-field.col.s6
            input#txtLocation.validate(type='text')
            label.active(for='txtLocation') Location
        .input-field.col.s6
            input#txtKeyword.validate(type='text')
            label.active(for='txtKeyword') Keyword or Topic
    section(id='react-app') !{markup}
    script(id='initial-state', type='application/json') !{state}
block scripts
    script(src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(type='text/javascript', src='/javascripts/live-tweets.bundle.js')