extends layout
block content
    div.top-left-controls-light.card-panel(style='width: 13em')
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s3(onClick='showLoader(); window.location="/word-cloud/#{summary_text.searchTerm}"')
                        a(href='/word-cloud') Cloud
                    li.tab.col.s3
                        a.active(href='/word-scatter-plot') Scatter
        h2 Intro
        p Scatter chart showing keywords commonly used in the latest Tweets, along
            | with their sentiment, and frequency of use.
        br
        h2 Custom Data
            br
            label.active(for='txtKeyword') Enter Keyword
            input#txtKeyword.validate(type='text', value='#{summary_text.searchTerm}')
    br
    div#scatter-words.center-block.card-panel

block scripts
    script(type='text/javascript', src='/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/bower_components/tipsy/index.js')
    script(type='text/javascript').
        var wordData = !{JSON.stringify(data)};
    script(type='text/javascript', src='/javascripts/scatter-words.bundle.js')
  