extends layout

block head
    link(href='/bower_components/nvd3/build/nv.d3.min.css', rel='stylesheet')

block content
    .container(style='width: 90%')
        .card-panel#real-time-scatter: svg(style='width: 100%; height: 500px;')
        #scatter-loader.center-block(style='width: 50px; margin-top: 200px'): include ./component_spinner

block scripts
    script(type = 'text/javascript', src = 'http://nvd3.org/assets/lib/d3.v3.js')
    script(type='text/javascript', src='http://nvd3.org/assets/js/nv.d3.js')
    script(type='text/javascript', src='/javascripts/charts/real-time-dash.js')




