extends layout

block head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

block content


    div.row.center-block(style='width: 90%')
        div.col.s6.offset-s3.card-panel.input-field(style='height: 4em;')
            input#txtKeyword.validate(type='text', value='#{searchTerm}')
            label(for='txtKeyword', style='margin-top: 1em') Enter a keyword, topic or search term to fetch new Tweets

    
block scripts
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};
        var searchTerm = !{JSON.stringify(searchTerm)};
    script(type='text/javascript', src='/javascripts/charts/entity-extraction.js')

