extends layout

block head
    link(href='/bower_components/c3/c3.min.css', rel='stylesheet')

block content
    .container
        h2.flow-text(style='font-size: 2em; margin-bottom: 5px;') The mood from around the world, right now.
        span.small-grey Sentiment results calculated from real-time Twitter data,
            | and illustrated on a series of isomorphic D3.js data visualisations.<br>
            | The sentiment analysis algorithm is based on the lexicon approach,
            | and written in CoffeeScript, all code is open sauce on
            | <a href="https://github.com/Lissy93/twitter-sentiment-visualisation">GitHub</a>
            | <br><br>
        .row
            .col.s12.m5.l4
                .card-panel: h3.flow-text +/- Proportions
                    svg#mini-bar-charts.center-block(style='width: 90%')
            .col.s12.m7.l8
                .card-panel#geo-loacations: h3.flow-text Live Sentiment Tweets by Location
        .row
            .col.s12.m12
                .card-panel#bullet-chart: h3.flow-text Bullet Chart
        .row
            .col.s12.m6
                .card-panel: h3.flow-text Recent Positive Tweets
            .col.s12.m6
                .card-panel: h3.flow-text Recent Negative Tweets
        .row
            .col.s12.m12
                .card-panel: h3.flow-text Search
        .row
            .col.s4.m4
                .card-panel: h4.flow-text Homepage
            .col.s4.m4
                .card-panel: h4.flow-text About Sentiment Sweep
            .col.s4.m4
                .card-panel: h4.flow-text Source & Documentation

        .row
            h2 More Sentiment Data Visualisations
            p.flow-text.grey-text.darken-4 Click one of the links below to generate the chart with the latest Twitter data
            each page in pages
                .col.s6.m4.l3
                    a(href='/#{page.page}')
                        .card.home-card
                            .card-image.waves-effect.waves-block.waves-light
                                img(src='/images/thumbnails/thumb_#{page.index}.png')
                            .card-content
                                span.card-title.grey-text.text-darken-4= page.title


        #scatter-loader.center-block(style='width: 50px; margin-top: 200px'): include ./component_spinner

    include ./footer


block scripts
    script(type = 'text/javascript', src = 'https://cdn.socket.io/socket.io-1.4.3.js')
    script(type='text/javascript', src='/bower_components/d3/d3.min.js')
    script(type = 'text/javascript', src = '/bower_components/c3/c3.min.js')
    script(type='text/javascript', src='/javascripts/charts/now.js')




