extends layout

block content


    div#container


block scripts
    script(type='text/javascript', src='/bower_components/Detector/index.js')
    script(type='text/javascript', src='/bower_components/three.min/index.js')
    script(type='text/javascript', src='/bower_components/Tween/index.js')
    script(type='text/javascript', src='/bower_components/globe/index.js')
    script(type='text/javascript', src='/javascripts/globe.bundle.js')

