extends layout

block content


    div.container(style='width: 90%')
        .row
            div.col.s10.offset-1.card-panel
                div#chart
                h2 hello


block scripts
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};
        var average = !{JSON.stringify(averageSentiment)};
        var searchTerm = !{JSON.stringify(searchTerm)};
    script(type = 'text/javascript', src = '/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/javascripts/charts/search-summary.js')

